
*.class
target/classes/application.properties
target/classes/logback.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/poeAPIReader-1.1.jar
target/poeAPIReader-1.1.jar.original
target/log.log
target/log.9.log.zip
target/log.8.log.zip
target/log.7.log.zip
target/log.6.log.zip
target/log.5.log.zip
target/log.4.log.zip
target/log.2.log.zip
target/log.10.log.zip
target/log.1.log.zip
target/log.3.log.zip
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.classpath
